In [2]:
import mysql.connector

In [3]:
import pandas as pd

In [4]:
cnx = mysql.connector.connect(
    host = "127.0.0.1",
    port = "3306",
    user = "root",
    password = "umaDevi@20",
    database = "dwbi")

In [5]:
query = "Select * from dimloyaltyprogram"

In [6]:
df = pd.read_sql(query, cnx)

C:\Users\hp\AppData\Local\Temp\ipykernel_7732\1600954950.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, cnx)

In [7]:
df.head()

   LOYALTYPROGRAMID      PROGRAMNAME PROGRAMTIER  POINTSACCURED
0                 1     Gold Rewards        Gold           1500
1                 2   Platinum Perks    Platinum           2500
2                 3    Silver Savers      Silver            800
3                 4  Bronze Benefits      Bronze            400
4                 5  Exclusive Elite   Exclusive           3000

In [8]:
df.to_csv('DimLoyaltyInfo.csv', index = False)